<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="UNI_LOG_PATH" value="./logs"></property>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm:ss} - %msg %n</Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>


    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${UNI_LOG_PATH}/default.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <FileNamePattern>${UNI_LOG_PATH}/default.%d{yyyy-MM-dd}.log</FileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>365</maxHistory>
        </rollingPolicy>

        <encoder>
            <Pattern>%d{HH:mm:ss} - %msg %n</Pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="errorFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${UNI_LOG_PATH}/error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <FileNamePattern>${UNI_LOG_PATH}/error.%d{yyyy-MM-dd}.log</FileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>365</maxHistory>
        </rollingPolicy>

        <encoder>
            <Pattern>%d{HH:mm:ss} - %msg %n</Pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>


    <root>
        <level value="INFO" />
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="fileAppender" />
        <appender-ref ref="errorFileAppender" />
    </root>


</configuration>


